.box {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    display: block;
}
.bordeR {
    border: 1px solid lightseagreen;
   
}