<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
  <mat-card class="newNow">
    <p style="padding-top: 21px;padding-left: 20px"> Category > Super Category</p>
  </mat-card>

    </div>
<mat-card class="pageBoxLg" style="background: #f2f3f8;">
  <div class="col-md-12  text-right">
      <h1 style="text-align: end;">
          <button class="addButtons" mat-flat-button color="primary" (click)="addSuperCategorys()"> <i
              class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <a style="margin-left: 10px;">
                Add Super Category</a>
               </button>
      
      </h1>
    </div>
  
  <div class="category Row"   *ngIf="!showNoData">

    <table mat-table [dataSource]="superCategoryData" class="container-fluid border text-strong tablesuper">
        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef><h5>Category Image</h5></th>
            <td mat-cell *matCellDef="let element">
              <img [src]="categoryImageUrl + element._id + '/' + element.categoryImageName"
                style="width: 180px; height: 145px;" /> </td>
    


            <!-- <th mat-header-cell *matHeaderCellDef><h5>Category Image</h5></th>
            <td mat-cell *matCellDef="let element">
                <mat-card class="imgCard">
              <img class="matImg" [src]="categoryImageUrl + element._id + '/' + element.categoryImageName"/> 
            </mat-card>
          </td> -->
          </ng-container>
      <ng-container matColumnDef="categoryName">

        <th mat-header-cell *matHeaderCellDef><h5>Category Name</h5></th>
        <td mat-cell *matCellDef="let element">
          {{element.categoryName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="width: 300px"><h5>Description</h5></th>
        <td mat-cell *matCellDef="let element">{{element.categoryDescription}}</td>
      </ng-container>
      <ng-container matColumnDef="Sort Order">
        <th mat-header-cell *matHeaderCellDef><h5>Sort Order</h5></th>
        <td mat-cell *matCellDef="let element"> {{element.sortOrder}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef><h5>Status</h5></th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><h5>Action</h5></th>
        <td mat-cell *matCellDef="let element">
            <div class=" vcenter form-group"> 
                <button class="btnCtrl" mat-mini-fab [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
              <mat-menu #menu="matMenu">
                  <a class="nav-link selectCursor" [routerLink]="['/category/editsupercategory/', element._id]">Edit</a>
                  <!-- <a class="nav-link selectCursor" (click)="openDialog(element)"> Delete</a> -->
                <!-- <a class="nav-link selectCursor" (click)="editSuperCategory(element._id)" >Edit</a>
                <a class="nav-link selectCursor" (click)="openDialog(element)">Delete</a> -->
              </mat-menu>
            </div>
      
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="showNoData" class="nodata"> No results found</div>
</mat-card>
