<div class="row">
  <div class="col-md-5">
      <mat-form-field>
          <mat-label>Select an Category</mat-label>
          <mat-select #category  (selectionChange)="filterByCategory($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let super of data" [value]="super">{{super.categoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="col-md-5">
      <mat-form-field>
          <mat-label>Select an Vendor</mat-label>
          <mat-select   (selectionChange)="filterByVendor($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let vendor of vendorModel" [value]="vendor">{{vendor.vendorName}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  <div class="col-md-2"><button class="btn btn-primary" (click)="onDownload()">Download</button></div>
  <div class="col-md-5" *ngIf="isMainCategory">
      <mat-form-field>
          <mat-label>Select an Main Category</mat-label>
          <mat-select #category  (selectionChange)="filterByMainCategory($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let main of selectedSuperCategory?.mainCategory" [value]="main">{{main.mainCategoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="col-md-7"></div>
  <div class="col-md-5" *ngIf="isSubCategory">
      <mat-form-field>
          <mat-label>Select an Sub Category</mat-label>
          <mat-select #category  (selectionChange)="filterBySubCategory($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sub of selectedMainCategory?.subCategory" [value]="sub">{{sub.subCategoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</div>