<form [formGroup]="categoryForm">
  <div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <mat-card class="newNow">
      <p style="padding-top: 21px;padding-left: 20px"> Category > Super Category > Edit </p>
    </mat-card>

  </div>
  <mat-card class="pageBoxLg ">

    <form [formGroup]="categoryForm" style="padding-top:30px">
      <div class="container-fluid">
        <div class="row">
          <div class="categoryField Categoryimage col-md-6">
            <div class="card ctrlNowOne">
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="categoryName" [ngModel]="holder.categoryName"
                    placeholder="Category Name">
                </mat-form-field>

              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput formControlName="categoryDescription" [ngModel]="holder.categoryDescription"
                    placeholder="Category Description"></textarea>
                </mat-form-field>


              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="sortOrder" [ngModel]="holder.sortOrder" placeholder="Sort Order">
                </mat-form-field>


              </div>
              <div class="form-group col-md-12">
                <mat-form-field>
                  <mat-select placeholder="Status" formControlName="status" [ngModel]="holder.status">
                    <mat-option *ngFor="let data of activeStatus;let i = index " [value]="data.active">
                      <a>{{data.active}}</a>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field>
                  <mat-select placeholder="DispatchStatus" formControlName="dispatch" [ngModel]="holder.isDispatch">
                    <mat-option *ngFor="let data of dispatchStatus;let i = index " [value]="data.value">
                      <a>{{data.active}}</a>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12">
                <button mat-raised-button type="reset" (click)="updateCategory(categoryForm)"
                  class="addButtons">Update</button>
                <button mat-flat-button class="addButtons" type="reset" (click)="cancelCategoryEdit()">Cancel</button>
                <br>
              </div>

            </div>
          </div>

          <div class="form-group col-md-6 text-center">
            <!-- <h5 class="detailsNow">Details</h5> -->
            <div *ngIf="!isChangeImage">
              <div> <label class="chooseimages">
                  <h5><b>Edit (images)</b></h5>
                </label></div>
              <img class="img-fluid" [src]="categoryImageUrl + holder._id + '/' + holder.categoryImageName"
                height="auto" width="100px" />

                <button mat-mini-fab class="iconBtn">
              <mat-icon  class="selectValue" (click)="changeImage()">edit</mat-icon>
            </button>
            </div>
            <div class="form-group" *ngIf="isChangeImage">
              <div> <label class="chooseimages">
                  <h5><b>Choose (images)</b></h5>
                </label></div>
              <label>
                <input type="file" (change)="handleFileInput($event.target.files)">
              </label>
              <label *ngFor="let url of urls">
                <mat-card class="imgCard">
                  <img class="img-fluid" [src]="url" />
                </mat-card>
              </label>
              <mat-icon (click)="cancelImageUpdate()">cancel</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </form>



    <div class="col-md-12 text-center ">
      <label>
        <h5 style="color: black;">Add Attribute</h5>
      </label>
    </div>
    <div class="grid" formArrayName="attribute">
      <div class="row gridRow">
        <div class="col-md-6">
          <div class="form-group p-2">
            <input class="btn addButtons" (click)="addForm()" type="button" value="Add Field">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <input (click)="addAttribute()" class="btn addButtons" type="submit" value="Save">
          </div>
        </div>
      </div>
      <div class="row gridRow" *ngFor="let fie of categoryForm['controls'].attribute['controls']; let i=index"
        [formGroupName]="i">
        <div class="col-md-2">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Field Name</mat-label>
              <input matInput formControlName="fieldName" placeholder="Field Name">
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <mat-radio-group (change)="selectDropdownControl($event, i)"
              [(value)]="categoryForm['controls'].attribute['controls'][i].value.fieldType"
              aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let field of fieldType" [value]="field">
                {{field}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <mat-radio-group (change)="selectTypeSetting($event, i)"
              [(value)]="categoryForm['controls'].attribute['controls'][i].value.fieldSetting"
              aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let def of fieldSettingType" [value]="def">
                {{def}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-1">
          <section class="example-section">
            <mat-slide-toggle formControlName="fieldEnable" (change)="enableToggle($event)">
            </mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-1">
          <section class="example-section">
            <mat-slide-toggle formControlName="fieldEnableValue" (change)="enableToggle($event)">
            </mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <mat-label>order</mat-label>
            <mat-select formControlName="sortOrder">
              <mat-option *ngFor="let sort of allSortOrder" [value]="sort.number">
                {{sort.number}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" *ngIf="categoryForm['controls'].attribute['controls'][i].value.fieldType !== 'Text'">
              <!--   <div class="col-md-6">
                          <div class="pull-right">
                          </div>
                        </div> -->
              <div formArrayName="fieldValue">
                <div class="row" *ngFor="let Y of fie['controls'].fieldValue['controls']; let iy=index">
                  <div class="col-md-9" formGroupName="{{iy}}">

                    <mat-form-field appearance="outline">
                      <mat-label>Field Value</mat-label>
                      <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <a (click)="removeFiledValue(i, iy)">
                      <mat-icon>clear</mat-icon>
                    </a>
                  </div>
                </div>
              </div>
              <input class="btn btn-sm btn-danger" (click)="addFiledValue(i)" type="button" value="Field Search Value">
            </div>
          </div>
        </div>

        <div class="col-md-2" style="padding: 10px;">
          <div class="form-group">
            <a (click)="deleteAttribute(i)">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>




  </mat-card>


  <!-- 

<mat-card class="ctrlCard">


    <div class="row container">
      <div class="col-md-12 text-center">
        <label>
          <h5>Edit Super Category</h5>
        </label>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <input matInput formControlName="categoryName" [ngModel]="holder.categoryName"
                placeholder="Category Name">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="categoryDescription" [ngModel]="holder.categoryDescription"
                placeholder="Category Description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="!isChangeImage">

        <img class="img-fluid" [src]="categoryImageUrl + holder._id + '/' + holder.categoryImageName" height="auto"
          width="100px" />
        <mat-icon class="selectValue" (click)="changeImage()">edit</mat-icon>
      </div>
      <div class="col-md-4" *ngIf="isChangeImage">
        <label>
          <input type="file" (change)="handleFileInput($event.target.files)">
        </label>
        <label *ngFor="let url of urls">
          <mat-card class="imgCard">
            <img class="img-fluid" [src]="url" />
          </mat-card>
        </label>
        <mat-icon (click)="cancelImageUpdate()">cancel</mat-icon>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input matInput formControlName="sortOrder" [ngModel]="holder.sortOrder" placeholder="Sort Order">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status" [ngModel]="holder.status">
            <mat-option *ngFor="let data of activeStatus;let i = index " [value]="data.active">
              <a>{{data.active}}</a>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div><br>
      <div class="col-md-5"></div>
      <div class="col-md-2 text-center">

        <button mat-flat-button color="primary" class="btn" type="button" (click)="updateCategory(categoryForm)">Save</button>
      </div>
      <div class="col-md-0 text-center">
        <button mat-flat-button color="primary" (click)="cancelCategoryEdit()">Cancel</button>
      </div>
    </div>
    <div class="col-md-12 text-center">
        <label>
          <h5>Add Attribute</h5>
        </label>
      </div>
    <div class="grid" formArrayName="attribute">
        <div class="row gridRow">
          <div class="col-md-6">
            <div class="form-group p-2">
              <input class="btn btn-sm btn-danger" (click)="addForm()" type="button" value="Add Field">
            </div>
          </div>
           <div class="col-md-6">
              <div class="pull-right">
                <input (click)="addAttribute()"  class="btn btn-danger"
                  type="submit" value="Save">
              </div>
            </div>
        </div>
        <div class="row gridRow" 
        *ngFor="let fie of categoryForm['controls'].attribute['controls']; let i=index"
          [formGroupName]="i">
          <div class="col-md-2">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Field Name</mat-label>
                <input matInput formControlName="fieldName" placeholder="Field Name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <mat-radio-group (change)="selectDropdownControl($event, i)"
                [(value)]="categoryForm['controls'].attribute['controls'][i].value.fieldType"
                aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let field of fieldType"
                 [value]="field">
                  {{field}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <mat-radio-group (change)="selectTypeSetting($event, i)"
                [(value)]="categoryForm['controls'].attribute['controls'][i].value.fieldSetting"
                aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let def of fieldSettingType" [value]="def">
                  {{def}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12"
                *ngIf="categoryForm['controls'].attribute['controls'][i].value.fieldType !== 'Text'">
               
  
                
                <div formArrayName="fieldValue">
                  <div class="row" *ngFor="let Y of fie['controls'].fieldValue['controls']; let iy=index">
                    <div class="col-md-9" formGroupName="{{iy}}">
  
                      <mat-form-field appearance="outline">
                        <mat-label>Field Value</mat-label>
                        <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <a (click)="removeFiledValue(i, iy)">
                        <mat-icon>clear</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
                <input class="btn btn-sm btn-danger" (click)="addFiledValue(i)" type="button" value="Field Search Value">
  
              </div>
  
            </div>
          </div>
  
          <div class="col-md-2" style="padding: 10px;">
            <div class="form-group">
              <a (click)="deleteAttribute(i)">
                <mat-icon>clear</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
  
</mat-card>
 -->



  <mat-card class="ctrlCard">
    <b style="color: rgba(0, 0, 0, .54);">Attribute Edit</b>
    <div class="grid">
      <div class="row gridRowz">
        <div class="col-md-2">
          <div class="form-group">
            Field Name
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            Field Type
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            Field Setting
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">

            Filter Option
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">

            Product Detail
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            Order
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">

            Edit
          </div>
        </div>
      </div>
    </div>
    <div class="grid" *ngFor="let data of holder?.attribute">
      <div class="row gridRow" *ngIf="!data.showDiv">
        <div class="col-md-2">
          <div class="form-group">
            {{data.fieldName}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{data.fieldType}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{data.fieldSetting}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{data.fieldEnable === true ? 'Enable' : 'Disable'}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{data.fieldEnableValue === true ? 'Enable' : 'Disable'}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            {{data.sortOrder !== undefined ? data.sortOrder : 'None'}}
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
              <button mat-mini-fab class="iconBtn">
            <a (click)="editAttribute(data._id)">
              <mat-icon class="rowEdit">edit</mat-icon>
            </a>
          </button>
          </div>
        </div>
        <div class="col-md-5">


          <!-- <div class="grid" *ngFor="let field of data?.fieldValue">
       
          <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                    <input matInput [value]="field.fieldAttributeValue" placeholder="Field Name">
                </div>
              </div>
              <div class="col-md-1">
                  <div class="form-group">
                      <button mat-flat-button class="cancleNow" (click)="editAttribute(data._id)">Save</button>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <button mat-flat-button class="cancleNow" (click)="cancelAttribute(data._id)">Cancel</button>
                  </div>
                </div>
            </div>
        </div> -->

        </div>
      </div>
      <div class="row gridRow" *ngIf="data.showDiv">

        <div class="col-md-2">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Field Name</mat-label>
              <input matInput [(ngModel)]="data.fieldName" formControlName="updateFieldName" placeholder="Field Name">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <mat-radio-group (change)="selectDropdown($event, data?.fieldValue)" [(ngModel)]="data.fieldType"
              formControlName="updateFieldType" aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let field of fieldType" [value]="field">
                {{field}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <mat-radio-group (change)="selectTypeSetting($event)" [(ngModel)]="data.fieldSetting"
              formControlName="updateFieldSettingType" aria-labelledby="example-radio-group-label"
              class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let def of fieldSettingType" [value]="def">
                {{def}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-1">
          <section class="example-section">
            <mat-slide-toggle formControlName="updateFieldEnable" [(ngModel)]="data.fieldEnable"
              [checked]="data.fieldEnable">
            </mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-1">
          <section class="example-section">
            <mat-slide-toggle formControlName="updateFieldEnableValue" [(ngModel)]="data.fieldEnableValue"
              [checked]="data.fieldEnableValue">
            </mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <mat-label>order</mat-label>
            <!-- {{}} -->
            <mat-select formControlName="updateSortOrder" [(ngModel)]="data.sortOrder">
              <mat-option *ngFor="let sort of allSortOrder" [value]="sort.number">
                {{sort.number}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12" *ngIf="deleteAttributeValue">
              <div class="alert-danger">Please Delete Attribute Value</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button mat-flat-button class="cancleNow" (click)="addFieldValueOpen(holder._id, data._id)">Add Field
                  Value</button>
              </div>
            </div>
          </div>
          <div class="grid" *ngFor="let field of data?.fieldValue">
            <div class="row" *ngIf="!field.showFieldDiv">
              <div class="col-md-10">
                <div class="form-group">
                  {{field.fieldAttributeValue}}
                </div>
              </div>
              <div class="col-md-2">
                <a (click)="editAttributeValue(data?.fieldValue, field._id)">
                  <mat-icon class="rowEdit">edit</mat-icon>
                </a>
              </div>
            </div>
            <div class="row" *ngIf="field.showFieldDiv">
              <div class="col-md-8">
                <div class="form-group">
                  <mat-form-field class="full-width">
                    <input matInput [value]="field.fieldAttributeValue" placeholder="Field Value" #fieldAttributeValue>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <button mat-flat-button class="cancleNow"
                    (click)="updateAttributeValueField(data?._id, field._id, fieldAttributeValue.value)">Save</button>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <button mat-flat-button class="cancleNow"
                    (click)="deleteAttributeValueField(data?._id, field._id)">Delete</button>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <a (click)="cancelAttributeValue(data?.fieldValue)">
                    <mat-icon class="rowEdit">clear</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button mat-flat-button class="addButtons" [disabled]="deleteAttributeValue"
              (click)="updateAttribute(data._id)">Save</button>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button mat-flat-button class="cancleNow addButtons" (click)="cancelAttribute(data._id)">Cancel</button>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button mat-flat-button class="deleteNow addButtons" (click)="deleteAttributeSingle(data._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</form>